body {
    background-color: #d6ca3e;
    color: black;
    font-family: "Oldenburg", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: ;
}